.main {
  /* position: relative; */
  width: 100vw;
  height: 88vh;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
}

.Welcome{
  margin-top: 10px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.copy{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* border: solid 1px red; */
  padding: 5px;
  margin-top: 20px ;
  border-top: outset 4px whitesmoke;
}
.lennyBackground {
  /* position: absolute; */
  inset: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
  z-index: -1;
  /* font-size: 15px; */
  color: #000000e6;
  cursor: pointer;
  text-align: center;
  word-break: keep-all;
  /* border: solid ; */
  margin-top: 0;
  padding: 20px;
}

.lennySlider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 2rem;
  padding: 1rem;
}

/* Each page of 30 faces */
.lennyPage {
  flex: 0 0 100vw; /* one full screen width */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 1rem;
}



.lennySmall {
  height: fit-content;
  font-size: 20px;
  padding: 7px;
  user-select: none;
  /* transition: transform 0.2s, color 0.2s; */
  white-space: nowrap;
  border-radius: 10px;
  background-color: #01b58e;
  outline: none;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lennySmall:hover {
  transform: scale(1.3);
  color: #fdfcfc;
  /* text-transform: scale(5); */
}


/* .lennyCenter {
  z-index: 2;
  font-size: 120px;
  color: white;
  pointer-events: none;
} */
